/*
!/.gitignore
!/.env.example
!/docker-compose.yml
!/Dockerfile
!/docker-compose.development.yml
!/Dockerfile.development
!/main.go
!/go.mod
!/go.sum
!/schema/
!/resolver/
!/services/
!/model/
!/migrations/
!/lib/
!/README.md 
!/LICENSE